body {
  background-color: #111;
}

.title {
  color: #fff;
  display: grid;
  place-items: center;
  padding: 2px;
}

canvas {
  border: 4px solid #fc9292;
  border-bottom: transparent;
  background-color: #161616;
  margin: 0 auto;
  display: block;
}
